.logo{
  width: 128px;
}
:root
{
  background-color: #f2f2f2;
}
.Header
{
  background-color: #0099FF;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Header ul
{
  display:flex;
  list-style: none;
}
.Header li
{
  padding: 10px;
}